/*Click*/
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "open sans", sans-serif;
  font-family: "poppins", sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  margin-left: 12px;
}
nav {
  flex: 1;
  text-align: center;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-left: 22px;
  text-decoration: underline;
  padding-right: 9px;
}
a {
  text-decoration: none;
  color: rgb(173, 95, 125);
}
.navbar input {
  border: 2px solid rgb(173, 95, 125);
  border-radius: 4px;
  padding: 4px;
  padding-right: 65px;
  width: 333px;
}
.shop {
  width: 140px;
}
.shooping-icon {
  width: 45px;
  margin-right: 111px;
  margin-left: -141px;
  height: 41px;
  cursor: pointer;
}
/*-----------Sale------------*/
.row-2 {
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.background {
  margin-top: -23px;
  width: 408%;
  display: grid;
  background: radial-gradient(white, rgb(240, 162, 175));
}
.sale {
  height: 310px;
  width: 28%;
  margin-left: 129px;
  margin-top: 33px;
}
.sale-pro {
  margin-left: 323px;
  margin-top: -204px;
  font-size: 38px;
  text-decoration: solid rgb(173, 95, 125);
  color: rgb(173, 95, 125);
  text-align: center;
  align-items: center;
}
.para-pro {
  margin-left: 380px;
  margin-top: -165px;
  font-size: 23px;
  text-decoration: none;
  color: rgb(173, 95, 125);
  align-items: center;
  text-align: center;
  letter-spacing: normal;
}
.sale-pro1 {
  margin-left: 354px;
  margin-top: -104px;
  font-size: 37px;
  text-decoration: solid rgb(173, 95, 125);
  color: rgb(173, 95, 125);
  text-align: center;
  align-items: center;
}
.sale-img {
  margin-right: 30px;
  height: 331px;
  width: 250px;
  margin-top: 106px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: transfrom 0.2s;
}
.sale-img:hover {
  transform: translateY(-50px);
}
.sale-head {
  text-align: center;
  align-items: center;
  margin-top: 13px;
  color: rgb(173, 95, 125);
  text-decoration: none;
  font-size: 21px;
}
.sale-in-p {
  font-size: 13px;
  text-align: center;
  align-items: center;
  margin-top: 11px;
  margin-bottom: -37px;
  text-decoration: none;
  letter-spacing: normal;
  color: black;
}

/*------------Footer-------------*/

.footer {
  font-size: 14px;
  padding: 60px 0;
}
.download {
  color: black;
  text-decoration: solid black;
  text-align: right;
  margin-right: 114px;
  margin-top: -126px;
}
.para {
  color: black;
  text-align: right;
  margin-right: 26px;
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-decoration: none;
  letter-spacing: normal;
}
.app-logo {
  height: 135px;
  width: 208px;
  margin-left: 524px;
  padding-left: 4px;
  cursor: pointer;
}
.footer-img {
  padding-left: 389px;
  margin-top: 165px;
}
.footer-p {
  text-decoration: underline;
  color: rgb(173, 95, 125);
  letter-spacing: 2px;
  text-align: center;
  margin-left: 65px;
  font-size: 14px;
  padding-bottom: 14px;
  margin-top: -38px;
}
.use {
  align-items: center;
  text-align: left;
  margin-top: -141px;
  margin-left: 40px;
}
.link-use {
  align-items: center;
  text-align: left;
  margin-left: 57px;
  cursor: pointer;
}
.follow {
  align-items: center;
  text-align: left;
  margin-top: -38px;
  margin-left: 38px;
}
.follow-list {
  align-items: center;
  text-align: left;
  margin-left: 57px;
  cursor: pointer;
}
.footer hr {
  height: 3px;
  margin: 70px;
}
.copyright {
  letter-spacing: normal;
  font-size: 13px;
  margin-top: -69px;
  text-decoration: none;
  text-align: center;
  color: rgb(173, 95, 125);
}
.rating-container i {
  color: orange;
  padding-inline-start: 15px;
}
