/*style.css*/
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "open sans", sans-serif;
  font-family: "poppins", sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  margin-left: 12px;
}
nav {
  flex: 1;
  text-align: center;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav ul li {
  display: flex;
  margin-left:64px;
  text-decoration: underline;
  padding-right: 9px;
}
a {
  text-decoration: none;
  color: rgb(173, 95, 125);
}
.navbar input {
  border: 2px solid rgb(173, 95, 125);
  border-radius: 4px;
  padding: 4px;
  padding-right: 65px;
  width: 333px;
}
.shop {
  width: 158px;
}

.fa-solid1 {
  width: 45px;
  margin-right: 111px;
  height: 41px;
  cursor: pointer;
}
h1 {
  text-align: center;
  text-decoration: none;
}
p {
  text-align: center;
  text-decoration: underline;
  color: rgb(173, 95, 125);
  letter-spacing: 3.5px;
}

.slider {
  width: 100%;
  height: 429px;
  margin-top: 41px;
  margin-left: 0px;
  margin-bottom: 46px;
  background-color: rgb(173, 95, 125);
  border-radius: 5px 5px;
  background-image: url(menuicon4.jpg);
  animation: slide 20s infinite;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@keyframes slide {
  25% {
    background-image: url(girl.jpg);
  }
  50% {
    background-image: url(babyf.jpg);
  }
  75% {
    background-image: url(eyeg-w-sug-3.jpg);
  }
  100% {
    background-image: url(salepandent9.jpg);
  }
  150% {
    background-image: url(menuicon4.jpg);
  }
}

/*.............categories.........*/

.row-3 {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}
.img-1 {
  height: 255px;
  width: 225px;
  cursor: pointer;
  padding: 14px;
}
.text{
  text-align: center;
}
/*---------BUTTON--------*/


  .asfa {
    background-color: #f0ecfc;
  background-image: linear-gradient(315deg, #f0ecfc 0%, rgb(221, 140, 153) 74%);
    line-height: 42px;
    padding: 0;
    border: none;
    width: 109px;
    margin-top: 23pc;
    cursor: pointer;

  }
  .asfa span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .asfa:before,
  .asfa:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgb(221, 140, 153);
    transition: all 0.3s ease;
  }
  .asfa:before{
     height: 0%;
     width: 2px;
  }
  .asfa:after {
    width: 0%;
    height: 2px;
  }
  .asfa:hover:before {
    height: 100%;
  }
  .asfa:hover:after {
    width: 100%;
  }
  .asfa:hover{
    background: transparent;
  }
  .asfa span:hover{
    color: rgb(221, 140, 153);
  }
  .asfa span:before,
  .asfa span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgb(221, 140, 153);
    transition: all 0.3s ease;
  }
  .asfa span:before {
    width: 2px;
    height: 0%;
  }
  .asfa span:after {
    height: 2px;
    width: 0%;
  }
  .asfa span:hover:before {
    height: 100%;
  }
  .asfa span:hover:after {
    width: 100%;
  }

/*..........outfits............*/

.title {
  text-align: center;

  margin-top: 38px;
  margin-bottom: 26px;
  color: rgb(173, 95, 125);
  text-decoration: underline;
  font-size: 64px;
}
.col-4 {
  flex-basis: 22%;
  padding-top: 36px;
}
.col-4 img {
  width: 236px;
  padding: 0 41px;
  margin-bottom: 86px;
}
.name {
  text-align: center;
  align-items: center;
  text-decoration: solid black;
  margin-top: -72px;
  margin-bottom: -25px;
  padding-right: 13px;
}
.price {
  margin-top: 27px;
  margin-bottom: 0px;
  padding-left: 20px;
  text-decoration: solid black;
  letter-spacing: normal;
}

/*-------Other Accessories--------*/

.Other-Accessories {
  margin-bottom: -70px;
  padding-right: 7px;
}
.header {
  text-align: center;
  margin-bottom: 100px;
  font-size: 50px;
  color: rgb(173, 95, 125);
  text-decoration: underline;
}
.col-5 {
  flex-basis: 25%;
  margin-top: 1px;
  padding-top: 32px;
}
.col-5 img {
  height: 252px;
  align-items: center;
  padding: 0 33px;
  margin-bottom: 90px;
}
.product {
  text-align: center;
  align-items: center;
  text-decoration: solid black;
  margin-top: -75px;
  margin-bottom: -23px;
}
.money {
  margin-top: 29px;
  padding-left: 22px;
  text-decoration: solid black;
  letter-spacing: normal;
}

/*-------Developers--------*/

.col-6 {
  height: 287px;
  width: 276px;
  padding-top: 16px;
  padding-left: 21px;
  padding-right: 12px;
  margin-top: 66px;
  margin-left: 60px;
  margin-right: 12px;
  box-shadow: 0 0 2px rgb(151, 112, 127);
  cursor: pointer;
  transition: transfrom 0.5s;
  background-color: rgb(173, 95, 125);
  border-radius: 39px;
}
.col-6:hover {
  transform: translateY(-30px);
}
.col-6 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50px;
  margin-left: 6pc;
  
}
.col-6 .intro {
  margin: 12px 0;
  color: black;
  letter-spacing: normal;
  text-decoration: none;
  background-color: rgb(173, 95, 125);
}
.col-6 .person {
  
  font-size: 20px;
  color: rgb(53, 51, 51);
  padding-left: 74px;
  background-color: rgb(173, 95, 125);
}
/*-----------Brands-------------*/

.brand {
  margin: 100px;
}
.power {
  font-size: 12px;
  margin-top: 4px;
  display: inline;
}
.brand-logo1 {
  height: 79px;
  width: 146px;
}
.brand-logo2 {
  height: 81px;
  width: 223px;
  margin-left: 264px;
}
.brand-logo3 {
  height: 82px;
  margin-left: 207px;
  width: 154px;
}

.brand hr {
  height: 3px;
  margin: 70px;
}

/*-----------Footer--------------*/

.row-6 {
  justify-content: center;
}
.footer {
  padding: 65px 1px;
}
.download {
  color: black;
  text-decoration: solid black;
  text-align: right;
  padding-right: 114px;
  margin-top: -244px;
}
.para {
  color: black;
  text-align: right;
  padding-right: 53px;
  font-size: 15px;
  margin-top: 5px;
  text-decoration: none;
  letter-spacing: normal;
}
.app-logo {
  height: 135px;
  width: 208px;
  padding-left: 526px;
  cursor: pointer;
}
.footer-img {
  padding-left: 316px;
  margin-top: -8px;
  display: flex;
}
.footer-p {
  text-decoration: underline;
  color: rgb(173, 95, 125);
  letter-spacing: 2px;
  padding-right: 332px;
  font-size: 14px;
  padding-bottom: 14px;
  margin-top: -30px;
}
.use {
  align-items: center;
  text-align: left;
  margin-top: -141px;
  padding-left: 33px;
}
.link-use {
  align-items: center;
  text-align: left;
  padding-left: 57px;
  cursor: pointer;
}
.follow {
  align-items: center;
  text-align: left;
  margin-top: -38px;
  padding-left: 43px;
}
.follow-list {
  align-items: center;
  text-align: left;
  padding-left: 57px;
  cursor: pointer;
}
.footer hr {
  height: 3px;
  margin: 95px;
}
.copyright {
  letter-spacing: normal;
  font-size: 13px;
  margin-top: -86px;
  text-decoration: none;
  text-align: center;
  color: rgb(173, 95, 125);
}
/*-----NUMBER BOX HOVER*/

.box{
 padding: 96px;
}
.box span{
  display: inline-block;
  border: 2px solid rgb(173, 95, 125);
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
}
.box span:hover{
  background: rgb(173, 95, 125);
  color: white;
}
/*----SORT PRICE-----*/

.products{
  padding: 53px;
}
.sort-price{
  display: inline-block;
  border: 2px solid rgb(173, 95, 125);
  margin-left: 10px;
  width: 151px;
  height: 38px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.heading{
  padding-left: 55pc;
  font-size: 22px;
}

/*-----CART PAGE ------*/

.cart-page{
  padding: 100px;
}
table{
  width: 100%;
  border-collapse: collapse;
}
.cart-info{
  display: flex;
  flex-wrap: wrap;
}
th{
  text-align: left;
  padding: 5px;
  color: white;
  background-color: rgb(173, 95, 125);
  font-weight: normal;
}
td{
  padding: 10px 5px;
}
td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a{
  color: rgb(173, 95, 125);
  font-size: 12px;
  cursor: pointer;
}
td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.total-price{
  display: flex;
  justify-content: flex-end;
}
.total-price table{
  border-top:  3px solid rgb(173, 95, 125);
  width: 100%;
  max-width: 400px;
}
 .add p{
  letter-spacing: normal;
  color: black;
  text-decoration: none;
}